.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contents {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

table.table-container th, td {
    min-width: 250px;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
table.table-container {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.table-container thead tr {
    height: 45px;
    background : #205081;
    color: #f9fffa;
}
.table-container thead tr th {
    border-right: 1px solid white;
}

table.table-container tbody {
    text-align: center;
}

table.table-container thead {
    text-align: center;
    overflow: scroll;
}

table.table-container thead tr th:first-child
{
    border-top-left-radius: 10px;
}
table.table-container thead tr th:last-child
{
    border-top-right-radius: 10px;
}

table.table-container tbody tr {
    border-bottom : 1px solid #efefef;
    height: 35px;
}

table.table-container tbody tr:hover {
    background:#e8eef1;
}

table.table-container tbody tr.selected {
    background: #3cace7;
    color:#fff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width:12px;
    _background-color:#f0f0f0;
}
 
::-webkit-scrollbar-corner {
}
 
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border:4px solid rgba(255,255,255,0);
    background-clip:content-box;
    background-color: #e8eef1; 
}

.ui.form .field.transparency>label {
    color:white;
}
.ui.form .field.transparency>div>label {
    color:white;
}
/*.ui.modal>.content {
    overflow: auto !important;
}*/

.time_picker_modal_container {
    width:100% !important;
    text-align: center !important;
}

.picker_container {
    display: inline-block !important;
}

.time_picker_preview {
    border-radius: .28571429rem !important;
    height: 38.8px !important;
}

body.scrolling>.dimmer {
    overflow: auto;
}

.ui.input input[type=range] {
    background: transparent !important;
}
.ui.input input[type=range]:focus {
    background: transparent !important;
    border-color: transparent !important;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #74A9D8;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #749ED4;
  border: 1px solid #D2F7D0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #D4D1FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74A9D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #74A9D8;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #749ED4;
  border: 1px solid #D2F7D0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #D4D1FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #749ED4;
  border: 1px solid #D2F7D0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #D4D1FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}

ul.hintTracker, ol.hintTracker {
    position:absolute;
    color:black;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-shadow: rgb(136, 136, 136) 1px 1px 1px;
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    cursor: pointer;
    z-index:1000;
}

ul.hintTracker li, ol.hintTracker li {
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px 5px 0px 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}

ul.hintTracker li:last-child,
ol.hintTracker li:last-child {
    border-bottom: 0px;
}

ul.hintTracker li:before,
ol.hintTracker li:before {
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
}

ul.hintTracker li,
ol.hintTracker li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
  
ul.hintTracker li:hover,
ol.hintTracker li:hover {
    background-color: #f6f6f6;
}

ul.hintTracker li:first-child {    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

ul.hintTracker li:last-child { 
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}